/* ===================================
    3. Home Section CSS
====================================== */

#home {
  height: 100vh;
  padding: 85px 0;
  margin: 0;
  transform: translateX(-50px);
  background-color: white;
  
  
}

#home .container-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  height: 100%;
  
  
}

#home .main-photo {
  max-height: calc(100vh - 170px);
  width: 536px;
  object-fit: cover;
}

#home .entry-title-1 {
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  font-weight: 400;
  font-size: 80px;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 3;
}

#home .entry-title-2 {
  position: absolute;
  top: 143px; /* Adjust if needed */
  left: 0;
  color: white;
  font-weight: 800;
  font-size: 80px;
  line-height: 143px;
  letter-spacing: -4px;
  z-index: 3;
}

#home .punchline {
  position: absolute;
  top: 286px; /* Adjust based on the actual height of the previous elements */
  left: 0;
  color: lightblue;
  font-weight: 800;
  font-size: 120px;
  line-height: 100px;
  letter-spacing: -4px;
  z-index: 3;
}
.video-container {
  position: relative;
}

.main-video {
  width: 100%; /* Adjust as necessary */
  height: auto; /* Adjust as necessary */
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Light overlay; adjust color and opacity as needed */
  z-index: 2; /* Ensures overlay is above the video */
}


#home .entry-title span {
  text-decoration: underline;
}

#home .main-btn {
  position: absolute;
  bottom: 0;
  left: 0;
  cursor: pointer;
}

#home .main-btn img {
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  animation-name: scroll;
  display: block;
}

@keyframes scroll {
  0% {
    opacity: 1;
    transform: translateY(-25px);
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(0);
  }
}

/* == */

@media (max-width: 1366px) {
  #home {
    padding: 60px 0;
  }

  #home .main-photo {
    width: 470px;
    max-height: calc(100vh - 120px);
  }

  #home .main-btn img {
    width: 40px;
  }

  #home .entry-title {
    font-size: 80px;
    line-height: 123px;
  }
  #home .entry-title-1, #home .entry-title-2, #home .punchline {
    font-size: 40px; /* Smaller font size for mobile */
    line-height: 72px; /* Adjusted line height for mobile */
    letter-spacing: -2px; /* Adjusted letter spacing for mobile */
    /* Further adjustments if needed */
  }

  #home .entry-title-2 {
    top: 72px; /* Adjust based on new line height */
  }

  #home .punchline {
    top: 144px; /* Adjust based on the total height of the above elements */
  }
}

  .block-right {
    margin-right: -60px;
  }

  img.block-right {
    max-width: calc(100% + 60px);
  }


/* For larger screens where height is limited */
@media (min-width: 1200px) and (max-height: 660px) {
  #home .main-photo {
    width: 440px; /* Adjust width as needed */
  }

  #home .entry-title {
    font-size: 110px; /* Large font size for wide screens */
    line-height: 113px;
  }
}

/* For medium screens, less than 991px */
@media (max-width: 991px) {
  #home {
    align-items: center; /* Center align items if home is a flex container */
  }

  #home .entry-title {
    font-size: 90px; /* Slightly smaller font size for medium screens */
    line-height: 93px;
  }

  .serv-block-wrap .serv-block-item {
    margin-bottom: 65px; /* Consistent margin for service blocks */
  }

  .block-right {
    margin-right: 0; /* Reset any right margin */
  }

  img.block-right {
    max-width: 100%; /* Ensure images are not exceeding their containers */
  }
}

/* For small screens, less than 767px */
@media (max-width: 767px) {
  #home .main-photo {
    max-height: 500px; /* Limit the height of the main photo */
    max-width: 65%; /* Limit the width of the main photo */
    width: auto; /* Keep photo responsive */
  }

  #home .entry-title {
    font-size: 70px; /* Smaller font size for small screens */
    line-height: 73px;
    max-width: 340px; /* Max width to contain the title */
    letter-spacing: -2px;
  }

  #home {
    padding-top: 55px; /* Add padding to the top of the home section */
    height: auto; /* Height auto for smaller screens */
  }

  #home .main-btn img {
    display: none; /* Hide the main button image */
  }
}

/* For extra small screens, less than 575px */
@media (max-width: 575px) {
  #home .main-photo {
    max-width: 85%; /* Make the photo take up more width */
  }

  #home .entry-title {
    font-size: 56px; /* Even smaller font size for extra small screens */
    line-height: 62px;
    padding: 50px 0; /* Add padding around the title */
  }
}

